<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="light">
    <ion-title>
      My Preference: <span class="prefs">{{ preference }}</span>
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-range dualKnobs="true" min="25" max="400" step="25" value="80" snaps="true" [pinFormatter]="customFormatter" [pin]="true"></ion-range>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="containFood">
    <ion-grid class="square">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-card *ngFor="let cat of categories; let i = index;" class="categoryCard" (click)="goToCategory()">
            <h3>{{ cat.title }}</h3>
            <ion-button [color]="cat.color" size="small" shape="rounded" class="floatBtn">{{ cat.category }}</ion-button>
            <div class="imgSize">
              <img [src]="cat.img" alt="cat.subtitle"/>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
