<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="light">
    <div class="containFood">
      <ion-grid class="square">
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="rangeSize ion-text-center">
              <div class="range-container">
                <ion-label>Calories: <span class="prefs">{{currentValue}}</span></ion-label>
                <ion-range mode="md" (ionChange)="setValue($event)" color="primary" dual-knobs="false" max="400" min="0" [pin]="true"
                  snaps="true" step="100" ticks="false" [value]="currentValue">
                </ion-range>
                <ul class="tick-marks">
                  <li *ngFor="let number of [0, 100, 200, 300, 400]" [class.selected]="number === currentValue">
                    {{number}}
                  </li>
                </ul>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="containFood">
    <ion-grid class="square">
      <ion-row>
        <ion-col size="12" class="colSize ion-text-center">
          <ion-card *ngFor="let cat of categories; let i = index;" class="categoryCard">
            <h3>{{ cat.title }}</h3>
            <ion-button [color]="cat.color" size="small" shape="round" class="floatBtn" (click)="goToCategory(cat)">{{ cat.category }}</ion-button>
            <div class="imgSize">
              <img [src]="cat.img" alt="cat.subtitle"/>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
