ion-grid, ion-row, ion-col {
    margin: 0;
    padding: 0;
}

ion-button.floatBtn {
    top: 180px;
    left: 180px;
    width: 120px;
    z-index: 1000;
    position: absolute;
}

ion-item.colSize {
    width: 320px;
}

.containFood {
    width: 100%;
    align-items: center;
    justify-items: center;
}

.square {
    margin: 1%;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}

.categoryCard {
    width: 320px;
    height: 240px;
    // z-index: -1000;
    border-radius: 12px;
    border: 1px solid #834CE0;    
}

.imgSize {
    width: 100%;
    height: auto;    
    object-fit: contain;
    position: relative;
}

.prefs {
    color:#834CE0;
}

.rangeSize {
    width: 320px;
}