.prefs {
    color:#834CE0;
}

.containFood {
    width: 100%;
    align-items: center;
    justify-items: center;
}

.square {
    margin: 1%;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}

.divLogo {
  display: flex;  
  align-items: baseline;
  justify-content: center;
  text-align: center;
}

.logo-login {
  width: 320px;
  height: auto;
  text-align: center;
  align-items: baseline;
}

ion-item.colSize {
    width: 320px;
}

ion-input {
    width: 100%;
    height: 40px;
    color: #834CE0;
    border-radius: 8px;
    padding-left: 10px;
    // border: 1px solid #CCC;
}